# LangChain Core
langchain
langchain-core
langchain-classic

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic
langchain-community
langchain-ollama
anthropic

# Google Gemini Integration
langchain-google-genai

# Hugging Face Integration
langchain-huggingface
huggingface_hub
transformers

# Environment Variables
python-dotenv

# ML & Utilities
numpy
scikit-learn
torch

langserve
fastapi
uvicorn
sse_starlette
bs4
chromadb
## faiss-cpu
Wikipedia
# arxiv
langchainhub